body{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #2d4fd855;
    color: white;
}
form{
    margin-top: 50px;
    text-align: center;
}
input{
    display: block;
    width: 350px;
    height: 40px;
    margin: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    border-bottom: 1px solid #2d4fd855 ;
    background: transparent;
    color: white;
}
button{
    width: 350px;
    height: 40px;
    font-size: 20px;
    background-color: #2d4fd855;
    border: none;
    color: white;
}

::placeholder{
    color: white
}