body {
    background-color: #2d4fd855;
    text-align: center;
    color: white;
    font-family: 'Courgette', cursive
}

.container{
    position: relative;
    width: 150vh;
    height: 100vh;
    background: white;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    color: #2d4fd855;
}